<%- include('./includes/head.ejs') %>
    <title>Page not Found</title>
</head>

<body>
    <main>
        <%- include('./includes/navigation.ejs') %>
    </main>
    <h1>Page Not Found</h1>
<%- include('./includes/end.ejs') %>