extends layouts/main-layout.pug

block head-comp
    title Add Product
block body-comp
    main
        form(action="/admin/add-product", method="POST")
            div.form-group
                label Item name 
                input(type="text", placeholder="Enter Name", name="title")
                button.btn.btn-primary(type="submit") Submit